.card{
    border-radius: 10px;
    box-shadow: 0px 2px 3px 1px rgb(158, 149, 149);
    color:rgb(39, 34, 34);
    background-color: rgb(253, 243, 243);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    position: relative;
    overflow: hidden;
}
.card > img{
    height:100px;
    width: 100px;
    object-fit: cover;
    background:rgb(255, 254, 254);
    border:2px solid rgb(129, 128, 240);
    border-radius: 50%;
    margin-top: 50px;
    z-index: 2;
}
.card .coursename{
    margin-top: 20px;
    font-size: 2rem;
}
.cardcontainer{
    margin: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 20rem);
    justify-content: center;
    gap:10px;
}
.feesdetail{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color:rgb(58, 58, 54);
    margin-bottom: 40px;
 
}
.feesinfo{
    margin: 20px 0px;
}


.feesheading{
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: 600;
    margin: 5px 0px;
    color:rgb(27, 25, 25);
}
.fullinfo{

    background-color:rgb(57, 55, 192);
    color:black;
    width: 100%;
    padding:10px 0px ;
    cursor: pointer;
    position: absolute;
    bottom:0;
    color:white;
    display: flex;
    justify-content: center;   
    align-items: center;
}
.card .background{
    position: absolute;
    background: rgb(137, 192, 82);
    height: 44%;
    z-index:1;
    top:0;
    width: 100%;
}
.card .background img{
    height:100%;
    object-fit: cover;
    width: 100%;
        
}
.fees,.duration{
    color:rgb(19, 18, 116);
    font-weight: 600;
}
.coursename{
    font-weight: 600;
}

.coursebuttons {
display:grid;
grid-template-columns: repeat(auto-fit, 20rem);
gap:20px;
justify-content: center;
justify-content: space-evenly;

}
.coursesheadings{
    margin:40px 5px;
}
.coursebuttons>*{
    display: flex;
    align-items: center;
    gap:10px;
    
    background: rgb(55, 32, 184);
    padding: 20px 30px ;
    border-radius: 10px;
    cursor: pointer;
    color: cornsilk;
    font-size: 2rem;
    transition: 0.5s all;
    box-shadow: 0px 2px 3px 1px white ;
}
.coursebuttons>*:hover{
    transform: scale(1.1);
}
.coursebuttons  .courseheadingicon{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}
.courseheading{
    text-align: center;
    margin: 40px 5px;
    color: rgb(30, 61, 200);
    text-shadow: 0px 2px 3px rgba(218, 193, 202, 0.856);
}
body{
    min-height: 100vh;
    background-color: rgba(31, 34, 214, 0.274);
}